{% extends "/layout.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}
<form class="search-form" action="{{ url_for('users.get_users') }}" method="get">
    <input type="search" name="query" value="{{ search }}" />
    <input type="submit" value="Поиск" />
</form>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Почта</th>
      </tr>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>
            <a href="{{ url_for('users.users_show', id=user.id) }}">{{ user.name }}</a>
          </td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('users.users_new') }}" class="btn">Добавить пользователя</a>
{% endblock %}